<!-- footer.html -->
<link rel="stylesheet" href="/styles/index.css" />
<div class="footer">
  <div class="contain">
    <div class="col">
      <h1>About Us</h1>
      <ul>
        <li><a href="/pages/About.html">About</a></li>
        <li>Services</li>
        <li>Social</li>
      </ul>
    </div>
    <div class="col">
      <h1>Products</h1>
      <ul>
        <li><a href="/pages/Blogs.html">Blog</a></li>
        <li><a href="/pages/practice.html">Practice</a></li>
        <li><a href="/pages/roadmap.html">Roadmap</a></li>
      </ul>
    </div>
    <div class="col">
      <h1>Resources</h1>
      <ul>
        <li><a href="https://www.wireshark.org/"> Security</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PL2jrku-ebl3H50FiEPr4erSJiJHURM9BX">Cryptography</a></li>
        <li><a href="https://play.picoctf.org/login?redirect=/practice">Ctfs</a></li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li><a href="/pages/Contact.html">Contact us</a></li>
        <li><a href="https://github.com/kirtisikka1211/TheSecureNetHub" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg></a></li>
      </ul>
    </div>
    <div class="col social">
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<style>
  .footer {
    width: 100%;
    height: 200px;

    background-color: #070617;
    padding-bottom: 30px;
    /* Adjust the padding at the bottom */
  }

  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 20px 20px 20px;
  }

  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 17px;
    padding: 30px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer .col ul li,
  .a {
    color: #999999;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }

  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }

  .clearfix {
    clear: both;
  }

  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }

    .social h1 {
      margin: 0px;
    }
  }

  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }

    .footer .col h1 {
      font-size: 14px;
    }

    .footer .col ul li {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }

    .footer .col h1 {
      font-size: 14px;
    }

    .footer .col ul li {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }



  .footer .col ul li a {
    color: #999999;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    /* Add this line to remove underlines from links */
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .footer .col ul li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
</style>