/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../images/bg03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Set the text color to white to match the background gradient */
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 40px 0;
  }
  
  h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    position: relative;
    color: beige;
  }

  h3 {
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    position: relative;
  }
  
  .glow {
    transition: 0.5s ease-out;
  }
  
  .glow:hover {
    animation: glowing 1s ease-in-out infinite;
    margin-left: 30px;
  }
  
  @keyframes glowing {
    0% {
      text-shadow: 0 0 5px #fff;
    }
    50% {
      text-shadow: 0 0 15px #1e4074;
    }
    100% {
      text-shadow: 0 0 5px #fff;
    }
  }
  
  /* Navigation bar */
  .topnav {
    background-color: #1e4074;
    overflow: hidden;
    text-align: center;
  }
  
  .topnav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #1e4074;
  }
  
  /* Resume sections */
  section {
    padding: 40px 20px;
  }
  
  h2 {
    color: #1e4074;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-image: url("../images/gradient03.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  th {
    color: #fff;
    background-color: #062656;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
  }
  
  td {
    color: #1e4074;
    /* background-image: url("../images/gradient03.jpeg"); */
    padding: 15px;
    text-align: center;
  }
  
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
    }
    
    h2 {
      font-size: 22px;
    }
    
    th {
      font-size: 16px;
    }
    
    td {
      font-size: 14px;
    }
  }
  .box {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.left-box {
    flex: 1;
}

.right-box {
    flex: 1;
}

/* Flexbox container to place boxes in a row */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* Profile image */
.profile-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Apply circular shape with border-radius */
    border: 3px solid #1e4074; /* Optional: Add a border around the circular image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a box shadow */
}
.profile-image-container:hover{
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(232, 233, 234, 0.07), 1px 6px 12px rgba(215, 221, 228, 0.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

/* Footer section */
footer {
    background-color: #1e4074;
    padding: 20px 0;
    text-align: center;
}

/* Footer navigation */
.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav a {
    display: inline-block;
    margin: 0 10px;
}

.footer-nav img {
    width: 40px; /* Increase the width to make the logos bigger */
    height: 40px; /* Increase the height to make the logos bigger */
    opacity: 0.7;
    transition: opacity 0.3s;
}

.footer-nav img:hover {
    opacity: 2;
}