body {
    font-family: Arial, sans-serif;
    background-color: #a1e3ff;
    /* Set the background color for the entire page  */
}

.main {
    margin: 0;
    padding: 0;
    width: auto;
    /* / Align children vertically at the center / */
}

.mainRectangle {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    background-color: #feb385;
}

.subContainer {
    display: flex;
    justify-content: center;
    /* / Align children horizontally at the center */
}

.subRectangle {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    background-color: #fcf0f0;
}

.emptyRectangle {
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;

    width: 200px;
    height: 100px;
}

.Rectangle1 {
    padding: 20px;
    margin-right: 44.5%;
    border: 1px solid black;
    width: 200px;
    height: 70px;
    float: right;
    background-color: #fcf0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontal alignment of content */
    /* You can also use "justify-content" property to control vertical alignment if needed */
}

.centered-element {
    padding: 50px 0;
}

.place-arrow {
    position: absolute;
    transform: translate(-50%, -50%);
}

.main {
    /* Original styles for .main */
    text-align: center;
}

.subContainer {
    /* Original styles for .subContainer */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    /* Original styles for .container */
    width: calc(33.33% - 20px); /* Adjust the width for responsiveness */
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .subContainer {
        flex-direction: column; /* Stack elements vertically on small screens */
    }

    .container {
        width: 100%; /* Full width for containers on small screens */
    }
}